* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  display: inline;
  vertical-align: middle;
  font-size: 50px;
}
#Logo {
  vertical-align: middle;
  width: 60px;
}
#header-logo {
  line-height: 70px;
  padding: 8px 20px;
}
.borders {
  border-top: 8px solid black;
}
