* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*header*/
h1 {
  display: inline;
  vertical-align: middle;
  font-size: 50px;
}
body {
  background-color: rgb(241, 241, 241);
}
#Logo {
  vertical-align: middle;
  width: 60px;
}
#header-logo {
  line-height: 70px;
  padding: 8px 20px;
  background-color: white;
}
.borders {
  border-top: 8px solid black;
}
.container {
  max-width: 880px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  padding: 10px 30px;
  margin-bottom: 5px;
}
.buttons {
  margin-top: 15px;
}
.button {
  width: 110px;
  height: 40px;
  border-radius: 5px;
  border-color: transparent;
  font-size: 17px;
}
#section {
  color: rgb(150, 150, 150);
  background-color: white;
  border-color: rgb(150, 150, 150);
  border-width: 1px;
}
#task {
  color: white;
  background-color: rgb(0, 155, 226);
}
.arrouw {
  font-size: 10px;
  vertical-align: middle;
}
h2 {
  margin-top: 20px;
}

li {
  list-style: none;
  margin-top: 20px;
  font-size: 20px;
}
.done {
  color: green;
  border: 1px solid green;
}
.main {
  color: white;
  font-size: 13px;

  border-radius: 25%;
  padding: 5px 5px;
  border-color: transparent;
}
.done,
.not-done {
  border-radius: 50%;
  font-size: 16px;
  margin-right: 3px;
  text-align: center;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.not-done {
  color: red;
  border: 1px solid red;
}
.editorial {
  background-color: rgb(86, 207, 255);
}
.Q1 {
  background-color: rgb(156, 84, 223);
}
.recruting {
  background-color: rgb(0, 233, 175);
}
.mobile {
  background-color: rgb(211, 159, 62);
}
.web {
  background-color: rgb(252, 105, 154);
}
.sale {
  background-color: rgb(162, 189, 8);
}
